.footer__ul{
    background-image: linear-gradient(to top,rgba(207, 211, 208, 0.863),rgb(109, 129, 112));
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 3px 5px
}

.icons{
    width: 40px;
}

#logoSbg{
    width: 40%;
}

.listDatos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1.5rem;
    word-spacing: 1px;
}