//estilos para el nav de header*/
.colorNav{
    background-image:$fondogral;
    background-attachment: fixed;
    background-repeat: repeat-x repeat-y;
    
 }
 #colorNav{
    background-image: $fondogral;
    background-attachment: fixed;
    background-repeat: repeat-x repeat-y; 
    font-weight: 600;
    font-size: 1rem;
 }

.header__logoSgb{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoSbg{
    width: 10%;
    
}
//estilos de la nav//
.textBoton{
    color: rgb(95, 93, 93);
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: none;
    text-transform: uppercase;
    
}

.textFonts{
    font-size: 2rem;
    font-weight: 500;
    text-shadow: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


header nav ul li a:hover{
    color: black;
}
//estructura de la nav/    
.encabezadoNav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: stretch;
    list-style: none;
    list-style-type: none;
    margin: 0 10px;
    padding: 15px 10px;
    word-spacing: 5px;
}