/*selectores form de contacto*/
#textContacto{
  padding-left: 60px;
  padding-bottom: 15px;
}

.tituloContacto{
    color: rgb(131, 133, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: 600;
   font-style: normal;
   letter-spacing: 2px;
   font-size: 30px;
   text-shadow: 2px 2px 1px black;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding-bottom: 10px;
}
.sizeLegend{
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    word-spacing: 3px;  
}

.botonPress{
    background-image: linear-gradient(to top, rgb(187, 205, 245), rgb(121, 133, 182));
}
.botonPress:hover{
    background-image: linear-gradient(to top, rgb(121, 133, 182), rgb(187, 205, 245));
    transform: scale(1,1);
    cursor: pointer;
    
}

.textContacto{
    color: rgb(44, 36, 54);
    font-style: normal;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    word-spacing: 3px;
    line-height: 2rem;
    
}