body{
    background-color: rgb(145, 172, 145);
    margin: 5px;
    padding: 5px;
    font-family: "lato",sans-serif;
}
.divOne{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
 .divOne .textH1{
    color: rgb(115, 146, 115);
    font-style: italic;
    font-family: "lato";
    font-size: 500;
    word-spacing: 2rem;
    text-align: center;

}
.Img{
    width: 50%;
    border-radius: 50%;
}

.buttons{
    background-image: linear-gradient();
}